  <nav >
      <ul id="nav">
      <li>
        <a id="home-nav" class="nav-item" href="index.html " class="logo">
          <h1 id="logo-text">
            <span class="main-header-p">P</span><span>roject</span> </span><span class="main-header-p">M</span><span>anager</span>
          </h1>
        </a>
      </li>
      <li class="nav-item">
        <a href="login.html" class="nav-link" id="login">Login</a>
        <a href="signup" class="nav-link" id="signup">Signup</a>
        <a href="/" class="nav-link hide" id="logout">Logout</a>
        <div class="dropdown">
          <button onclick="myFunction()" id="taskBtn" class="dropbtn">Task Type</button>
          <div id="myDropdown" class="dropdown-content">
            <!-- <a href="#">Unclaimed</a>
            <a href="#">Claimed</a>
            <a href="#">Done</a> -->
            <ul class="filter-selection"></ul>
          </div>
        </div>
        
      </li>
     
    </ul>
  </nav>

<!-- <li class="nav-item">
      <a href="signup" class="nav-link" id="nav-link">Register</a>
    </li> -->