
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.hide {
    display: none;
}

.Low{
    background-color: greenyellow;
}

.Medium {
    background-color: yellow
}

.High {
    background-color: red;
}

.priority {
    font-size: small;
    padding: 15px;
    border-radius: 20px;
}