.card {
    border: 2px black solid;
    background-color: lightblue;
}

.task-display {
    color: black;
    text-decoration: none;
}

.filter {
    cursor: pointer;
}

.active {
    background-color: gray;
    border: 1px white;
}