@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand:wght@300;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'PT Sans', Sans-Serif;
}

html {
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

#nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

#logo-text {
    font-size: xx-large;
}

.small-logo-text {
    font-size: medium;
}
#nav li a,
footer {
    text-decoration: none;
    color: white;
}

.main-header-p {
    color: #b3d146;
}
header {
    background-color: #2d2f30;
    padding: 10px 10px;
    transition: 0.4s;
}
footer {
    background-color: #2d2f30;
    padding: 50px 10px;
    transition: 0.4s;
}

.logo {
    text-decoration: none;
}

.nav-item {
    align-self: center;
    justify-self: center;
    padding-right: 20px;
}

#footer {
    border-top: solid;
    padding: 20px;
}

#taskBtn{
    display: none;
}

/* @media screen and (max-width: 600px) { 
    #taskBtn {
        display: block; 
    }
    #filter-selection{
        display: none !important; 
    }
    .filter-selection{
        display: block !important;
    }
    .filter-selection li {
        color: white;
        

    }
}  */